<div>
  <h2>Your form inputs</h2>
  <h4>Student Id</h4>
  <p>
    <%= @student_id %>
  </p>
  <h4>Favorite Color</h4>
  <p>
    <%= @fav_color %>
  </p>
  <h4>Favorite Animal</h4>
  <p>
    <%= @fav_animal%>
  </p>
</div>
